
.card {
position: relative;
line-height: 24px;
width: 400px;
height: auto;
padding-bottom: 20px;
border: 1px solid #ccc;
border-radius: 5px;
margin: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
transition: all 0.3s ease-in-out;
}

.card:hover{
transform: scale(1.05);
box-shadow: rgb(33, 33, 33) 0px 20px 30px -10px;
}

.card img {
width: 100%;
height: auto;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.card .card-text {
padding: 10px;
text-align: center;
}

.card-text h3{
margin: 10px 0;
}

.cardcont {
padding: 40px 100px;
align-items: center;
justify-content: center;
display: flex; 
flex-wrap: wrap;
gap: 20px;
}
.side a{
text-decoration:none;
}
.side{
margin-left: 1200px;
}